<!-- begin:: Footer -->

<div class="kt-container  kt-container--fluid ">
    <div class="row">
        <div class="kt-footer__copyright col-lg-4 col-md-6" style="text-align: center;">
            2020&nbsp;&copy;&nbsp;<a href="/" target="_blank" class="kt-link">Comurule | MicroSolutions Inc</a>
        </div>
        <div class="kt-footer__menu col-lg-6 col-md-6" style="text-align: right; padding-right: 20%;">
            <a href="/main/about" target="_blank" class="kt-footer__menu-link kt-link">About</a>
            <a href="" target="_blank" class="kt-footer__menu-link kt-link">Team</a>
            <a href="" target="_blank" class="kt-footer__menu-link kt-link">Contact</a>
        </div>
    </div>
</div>

<!-- end:: Footer -->
